/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0; /* Remove default margin */
  height: 100vh; /* Set body height to viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.panel {
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-button {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #666;
  border-radius: 50%;
}

.calculator {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.display {
  width: calc(100% - 22px); /* Adjusted width to accommodate padding and border */
  height: 60px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
  padding: 5px 10px; /* Adjusted padding for all sides */
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.operators {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  margin-bottom: 5px;
  margin-right: -5px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  flex: 3; /* First column takes 3/4 of the width */
  background-color: #f0f0f0;
}

.buttons{
  display: flex;
}

#operator{
  width: 10px;
  height: 10px;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #e0e0e0;
}

.admin-buttons{
  flex: 1; /* Second column takes 1/4 of the width */
  background-color: #e0e0e0;
  margin-right: -10px;
}

.dark-mode {
  /* Dark mode styles */
  background-color: #333;
  color: #fff;
}
