body {
  font-family: Arial, sans-serif;
  background-color: #FFFEF9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}
.calculator {
  height: 94vh;
  width:100%;
  /*border: 2px solid #E6E1D6;
  border-radius: 10px;*/
  background-color: #fff;
  padding: 10px;
}
.display {
  background-color: #E6E1D6;
  width: calc(100% - 40px);
  height: 10vh;
  padding: 20px 20px;
  margin-bottom: 15px;
  border: 2px solid #E6E1D6;
  border-radius: 10px;
  font-size: 8em;
  text-align: right; 
}
.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2%;
}
.calculator .buttons button {
  padding: 25%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #E6E1D6;
  color: #403D39;
  font-size: 2rem;
}
.calculator .buttons button.operator {
  background-color: #403D39;
  color: #FFFEF9;
}
.calculator .buttons button.special {
  background-color: #EB5E28;
  color: #FFFEF9;
}
.calculator .buttons button.equals {
  background-color: #45a049;
  color: #FFFEF9;
}
.calculator .buttons button:hover {
  background-color: #929291;
  color: #FFFEF9;
}
